DB_SERVER=11-vm-dwh01
DB_NAME=TimeShiftFK
DB_USER=
DB_PASSWORD=
DB_DRIVER=FreeTDS
DB_PORT=1433
DB_TDS_VERSION=7.4
DB_TRUST_CERT=yes

SMTP_HOST=smtp.agrohold.ru
SMTP_PORT=25
SMTP_USER=
SMTP_PASSWORD=
MAIL_FROM=WGSentry11@agrohold.ru
MAIL_TO=

TARGET_AREA=ФК-1эт-ВЕСТИБЮЛЬ(ЛК9)
TIMEZONE=Europe/Moscow
